.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    font-size: 20px;
    font-family: cursive;
}
.sidebar{
    width: 250px;
    background: #00a8ff;
    display: flex;
    flex-direction: column;
}
.sidebar .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10px;
    align-self: center;
    background-size:contain ;
    background-position: center;
    margin: 10px;
}

/* left sidebar */
.Main_box{
    flex: 1;
    padding: 20px;
    background-color: #fbfbfb;
}
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 10px;
}

a {
    border-bottom: 1px solid #ffffff28;
}

a {
    display: block;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    cursor: pointer;
    transition: .4s all;
}

a.active {
    background-color: #ffffff5d;
    border-bottom: 0;
    color: white;
    transition: .4s all;
}

a:hover:not(.active) {
    background-color: #ffffff5d;
    color: white;
}