
.Holder {
    height: 100%;
    width: 100%;
    display: flex;
    font-size: 20px;
    font-family: cursive;
}
.sidenav{
    width: 25vw;
    background: crimson;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* margin-top: 10vh; */
}
.sidenav h2{
    text-align: center;
    font-size: 50px;
    color: yellow;
    height: 0;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.sidenav h5{
    text-align: center;
    height: 0;
    color: yellow;
    font-weight: normal;
    padding-top: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.icon{
    display: flex;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    height: 50px;
    padding: 20px;
}
.icon p{
  padding-top: 25px;
}
.sidenav i{
    padding: 35px;
    font-size: 25px;
    color: yellow;
}
.avatar {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    padding: 10px;
    align-self: center;
    background: rgba(255, 255, 255, 0.157) url('./img_avatar.png');
    background-size:contain ;
    background-position: center;
    margin: 10px;
    margin-top: 30px;
}
.avatar img{
  width: 190px;
  height: 190px;
  margin: auto;
  padding: 20px;
  margin-left: 1px;
  
}

/* left sidebar */
.main{
    width: 75vw;
    /* padding: 20px; */
    background-color: rgb(214, 209, 209);
}
.Main_box{
  width: 75vw;
  overflow-y: scroll;
}


/* navbar */
/* .dashboard_navbar{
  width: 100vw;
  margin-left: -25vw;
} */
.dashboard_navbar ul {
    list-style-type: none;
    margin-left:0;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: crimson;
  }
  
  .dashboard_navbar li {
    float: left;
    border-right:1px solid #bbb;
    font-size: 25px;
  }
  
  .dashboard_navbar li:last-child {
    border-right: none;
  }
  
  .dashboard_navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 36px;
    text-decoration: none;
  }
  
  .dashboard_navbar li a:hover:not(.active) {
    background-color: #ffffff5d;
  }
  
  .dashboard_navbar .active {
    background-color: #ffffff5d;
  }
  