
/* registration form */
.register{
  background-color: rgb(173, 240, 240);
}
/* image */
.Register_img{
  width: 900px;
  height: 700px;
  }

  /* form heading */
h1, p {
  text-align: center;
  }

/* form styling */
.container{
  display: flex;
  flex-direction: column;
}
.item{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

/* form area */
.form-box {
max-width: 750px;
margin: auto;
padding: 50px;
background: #ffffff;
border: 10px solid crimson;
}
.form-box p{
  color: crimson;
  font-size: 20px;
}

/* form input name */
.label{
  width: 35%;
  padding-top: 3vh;
}
.form-label{
  font-size: 25px;
  color: crimson;
  font-weight: bold;
}

/* email & password input box */
 #Register_email{
  width: 55%;
  height: 10%;
  padding-left: 2% !important;
  padding-top: 0% !important;
  padding-bottom: 0% !important;
  margin-top: 15px;
  border: 1px solid black;
}  
#login{
  display: none;
}

/* form input box */
#Register_name, #Register_course, #Register_DOB, #Register_target, #Register_gender, #Register_age, #Register_clg_location, #Register_college,#Register_email,#Register_password{
  width: 400px;
  height: 40px;
  border: 1px solid black;
  border-radius: 4px;
  padding-left: 10px;
  margin-top: 15px;
}
/* terms & condition */
.terms{
  padding: 20px;
}

/* submit button */
.btn{
  width: 400px;
  background-color: crimson;
  text-align: center;
  margin: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  /* margin-top: -40px; */
}
.btn:hover{
  background-color: white;
  color: crimson;
  border: 3px solid crimson;
}


@media all and (max-width: 700px) {

.Register_img{
  display: none;
}
#Register_course{
  width: 150px;
  height: 40px;
  border: 1px solid black;
}
#Register_DOB{
  width: 150px;
  height: 40px;
  border: 1px solid black;
}  
#Register_gender{
  width: 150px;
  height: 40px;
  border: 1px solid black;
}
#Register_target{
  width: 150px;
  height: 40px;
  border: 1px solid black;
}

#Register_password{
  width: 150px !important;
  height: 40px !important;
  border: 1px solid black !important;
  padding: 0px 0px 0px 0px !important;
  border-radius: 0px;
} 
.row{
  width: 100vw;
}
.col-sm-8{
  width: 100vw;
}
.form{
width: 100vw;
}
}
@media all and (max-width: 350px){

#Register_password{
  width: 120px !important;
  height: 40px !important;
  border: 1px solid black !important;
  padding: 0px 0px 0px 0px !important;
}
} 