<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <link rel="icon" type="image/x-icon" href="ApTee.png">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.1/css/all.min.css" integrity="sha512-ioRJH7yXnyX+7fXTQEKPULWkMn3CqMcapK0NNtCN8q//sW7ZeVFcbMJ9RvX99TwDg6P8rAH2IqUSt2TLab4Xmw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
      <script src="https://kit.fontawesome.com/06c86bacc2.js" crossorigin="anonymous"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
      
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/06c86bacc2.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <link href="https://drive.google.com/uc?export=veiw&id=1Pw_ZVRjnTFUCrI-RFUAaa4oMF3xJDCbL" rel="stylesheet">
      <link rel="icon" type="image/x-icon" href="https://drive.google.com/uc?export=veiw&id=1aHEw8lXkD1aSBMWpC8ku4c2eP_QfZ3oO">
      {% block links %}
      {% endblock %}
        <title>
            {% block title %}
            {% endblock %}
        </title>
   </head>
   <body>
    <div class="wrapper">
      <!-- up and down button -->
      <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
      </div>
      <!--This block is for navbar-->
      <nav class="p-3 navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="{{ url_for('home')}}"><img id="logo" src="https://drive.google.com/uc?export=veiw&id=1aHEw8lXkD1aSBMWpC8ku4c2eP_QfZ3oO" alt="logo"></a>
       
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('home')}}" class="menu-btn" aria-current="page"><i class="fa-solid fa-house-user"></i>&nbsp;  Home &nbsp;&nbsp;&nbsp;&nbsp;</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('test.Test')}}" class="menu-btn"><i class="fa-sharp fa-solid fa-graduation-cap"></i>&nbsp; For Students &nbsp;&nbsp;&nbsp;&nbsp;</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('test.for_teacher')}}" class="menu-btn"><i class="fa-sharp fa-solid fa-chalkboard-user"></i>&nbsp;For Teachers&nbsp;&nbsp;&nbsp;&nbsp;</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('blog.blog_home')}}" class="menu-btn"><i class="fa-sharp fa-solid fa-blog"></i>&nbsp;   Blogs&nbsp;&nbsp;&nbsp;&nbsp;</a>
              </li>
              
              <!--Remove login button when user logs in when -->
              {%if id%}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('profile.usr_profile')}}" class="menu-btn" id="login"><i class="fa-solid fa-user"></i>Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout')}}" class="menu-btn" id="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                  </li>
                  
              {%else%}
                <li class="nav-item">
                    <a class="nav-link" href="/account_creation" class="menu-btn" id="login"><i class="fa-solid fa-user-group"></i>&nbspSign Up</a>
                    <!-- <a class="nav-link" href="#signup" class="menu-btn" id="signup"><i class="fa-solid fa-user-group"></i>&nbsp; Sign Up </a> -->
                </li>
                <li class="nav-item">
                  <button class="nav-link" id="login" type="button" data-toggle="modal" data-target="#myModal"><i class="fa-solid fa-user"></i>&nbspLogin</button>
                </li>
              {%endif%}
              
            </ul>
          </div>
          <div id="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <span class="msg"><i class="fa-solid fa-bell"></i><h3 class="notification">{{message}}</h3> </span>
          </div>
      </nav>  
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
              <div class="modal-content clearfix">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <div class="modal-body">
                      <h3 class="title">Login Form</h3>
                      <p class="description">Login here Using Email & Password</p>
                      <form class="form" action="{{ url_for('home')}}" method="post">
                        {{form.csrf_token}}
                        <div class="form-group">
                            <span class="input-icon"><i class="fa fa-user"></i></span>
                            {{ form.email_id }}
                        </div>
                        <div class="form-group">
                            <span class="input-icon"><i class="fas fa-key"></i></span>
                            {{ form.password }}
                        </div>
                        {{form.logincheckbox(checked=True)}}
                        <button class="btn">Login</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      <!--Notification Bar-->
      {% block content %}

      {% endblock %}
      <!-- footer -->
      <footer>
        <div class="social">
          <a id="fb" href="" target="_blanks"><i class="fa-brands fa-facebook"></i></a>
          <a id="ins" href="" target="_blanks"><i class="fa-brands fa-instagram-square"></i></a>
          <a id="twitter" href="" target="_blanks"><i class="fa-brands fa-twitter-square"></i></a>
          <a id="ln" href="" target="_blanks"><i class="fa-brands fa-linkedin"></i></a>
          <a id="git" href="https://github.com/Aptee" target="_blanks"><i class="fa-brands fa-github"></i></a>
        </div>
        <span>Created By <a href="" target="_blank">Aptee Group</a> | <span class="far fa-copyright"></span> 2022 All rights reserved.</span>
      </footer>
    </div>
   </body>
   {% block style %}
   {% endblock %}
   <script>
    $(document).ready(function(){
    $(window).scroll(function(){
        // sticky navbar on scroll script
        if(this.scrollY > 20){
            $('.navbar').addClass("sticky");
        }else{
            $('.navbar').removeClass("sticky");
        }
        
        // scroll-up button show/hide script
        if(this.scrollY > 500){
            $('.scroll-up-btn').addClass("show");
        }else{
            $('.scroll-up-btn').removeClass("show");
        }
    });

    // // slide-up script
    $('.scroll-up-btn').click(function(){
        $('html').animate({scrollTop: 0});
        // removing smooth scroll on slide-up button click
        $('html').css("scrollBehavior", "auto");
    });

    $('.navbar .menu li a').click(function(){
        // applying again smooth scroll on menu items click
        $('html').css("scrollBehavior", "smooth");
    });

    // toggle menu/navbar script
    $('.menu-btn').click(function(){
        $('.navbar .menu').toggleClass("active");
        $('.menu-btn i').toggleClass("active");
    });

    // typing text animation script
    var typed = new Typed(".typing", {
        strings: ["is","is not","is not determined by", "is not determined by attitude", "is not determined by attitude but rather", "is not determined by attitude but rather by aptitude."],
        typeSpeed: 100,
        backSpeed: 60,
        loop: true
    });
});
var test='{{alert_colour}}';
var msg='{{message}}'
if(msg){
  alert_function(msg,test);
  //document.getElementById("alert").style.display = "block";
  setTimeout(function(){
    document.getElementById("alert").style.display = "none";
           },5000);
}
function alert_function(msg,test) {
  //alert(msg);
  document.getElementById("alert").style.display = "block";
  console.log(test)
  if(test==1){
    document.getElementById("alert").style.backgroundColor = "green";
  }else{
    document.getElementById("alert").style.backgroundColor = "red";
  }
}
//$('.close-btn').click(function(){
  //document.getElementById("alert").style.display = "none";
    //     });
</script>
<style>
/* notification */
#alert{
  display: none;
  width: auto;
  /* width: max-content; */
  border-radius: 2px;
  padding-top: 10px;
  float: right;
  position: absolute;
  margin-top: 5vh;
  margin-left: 30vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  /* font-weight: bold; */
}
.msg{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  
}
.notification{
  color: white;
  font-size: 3vh;
  padding-left: 1vh;
  
}
.closebtn {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  margin-top: -5px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
.start{
  text-align: center;
}

/* modal login cross size */
.modal-content .close {
    color: #fff;
    background-color: crimson;
    font-size: 25px;
    font-weight: 400;
    text-shadow: none;
    line-height: 27px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    overflow: hidden;
    opacity: 1;
    position: absolute;
    left: auto;
    right: 8px;
    top: 8px;
    z-index: 1;
    transition: all 0.3s;
}

</style>
</html>