<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='Daily_questions.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script>
</head>
<body>

    <!-- sidebar dashboard -->
    <div class="sidebar">
        <img src="https://png.pngtree.com/png-clipart/20190922/original/pngtree-business-male-user-avatar-vector-png-image_4774078.jpg" alt="" >
        {%if Client%}
        <a class="active" href="#home">{{Client[0]}}</a>
        <a href="#news">{{Client[1]}}</a>
        <a href="#contact">{{Client[2]}} Coins</a>
        {%else%}
        <a class="active" href="#home">Mr Very Smart</a>
        <a href="#news">Very Reputed College</a>
        <a href="#contact">Legal Maximum Coins</a>
        {%endif%}
        <a href="#about">Question Level : {{Question[5]}}</a>
        <a href="#about">Question Optimum Time: {{Question[15]}}</a>
      </div>


      <!-- quiz startbutton and rules -->
      <div class="content">  
    <div class="start_btn">
        <div class="info-title"><h1>Some Rules of this Quiz</h1></div>
            <div class="info">1. You can take however long you want to solve the question but  <span>{{Question[15]}} Seconds</span> should be enough to solve it.</div>
            <div class="info">2. Once you submit your answer, it can't be undone.</div>
            <div class="info">3. You can use pen and paper to do your rough work.</div>
            <div class="info">4. Please do not change tabs while you are playing.</div>
            <div class="info">5. You'll get coinss on the basis of your correct answers.</div>
      
        <button id="start" onclick='startButton()'>Start Quiz</button></div>

    <!-- Quiz question & Info Box -->
    <div class="info_box">
        <a href="{{ url_for('test.Test')}}"><button class="quit" id="exit" >Exit Quiz</button></a>

        <div class="info-title"><h3>Multiple Choice Question (Choose one from the four options)</h3>

        </div>
        <div class="info-list">
            <div class="infoquestion"> 	
               Questin No: <br><br> {{Question[7]}}</div>
            
                <form action="{{ url_for('test.daily',qid=qid,Mobile=Mobile)}}" method="post" class="form" >
                   <input type="radio" id="op1" name="mcq" value="A">
                    <label for="op1">&nbsp&nbsp{{Question[8]}}</label><br>
                   <input type="radio" id="op2" name="mcq" value="B">
                   <label for="op2">&nbsp&nbsp{{Question[9]}}</label><br>
                   <input type="radio" id="op3" name="mcq" value="C">
                   <label for="op3">&nbsp&nbsp{{Question[10]}}</label><br>
                   <input type="radio" id="op4" name="mcq" value="D">
                   <label for="op4">&nbsp&nbsp{{Question[11]}}</label>
                  
                    <br>  
                  <input id = "feild_txt" type="text" name = "Time_sheet" value="" hidden>
                     <div class="buttons">
                        <button id="next" onclick='stopButton()'>Next Question</button>
                    </div>
                   
                  </form>
        </div>
       
    </div>
      </div>
    <script src="{{ url_for('static',filename='Daily_questions_js.js') }}"></script>

    
</body>
</html>