<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='Exam_dashboard_css.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/06c86bacc2.js" crossorigin="anonymous"></script>


</head>
<body>

    <!-- sidebar dashboard -->
    <div class="container-fluid" style="background-color: rgb(89, 238, 226);">
  
      <div class="row">
        <div class="col-sm-3">
         <!-- sidebar dashboard -->
        <div class="sidebar">
            <img src="https://png.pngtree.com/png-clipart/20190922/original/pngtree-business-male-user-avatar-vector-png-image_4774078.jpg" alt="" >
            <h1>Md Atif Hussain</h1>
            <h5>Questions Status</h5>
            <span class="dot1"><h6 id="novisit">Not Visited</h6></span>
            <span class="dot2"><h6 id="visit">Attempt</h6></span>
            <span class="dot3"><h6 id="skip">Skip</h6></span>
            
    
            <div id="myDIV" class="circle">
                <span id="one" class="dot">1</span>
                <span class="dot">2</span>
                <span class="dot">3</span>
                <span class="dot">4</span>
                <span class="dot">5</span>
                <span class="dot">6</span>
                <span class="dot">7</span>
                <span class="dot">8</span>
                <span class="dot">9</span>
                <span class="dot">10</span>
                <span class="dot">11</span>
                <span class="dot">12</span>
                <span class="dot">13</span>
                <span class="dot">14</span>
                <span class="dot">15</span>
            </div>
            <div class="col text-center">
                <button id="submit_ans" class="btn btn-danger submit">Submit</button>
              </div>       
        </div>
        </div>


      <!-- quiz startbutton and rules -->
      <div class="col-sm-9">
      <div class="content"> 
        {%if Row%}
          <div class="time"><i class="fa-solid fa-clock"></i>&nbsp; Time: <span id="time"> {{Row[15]|int/60|int}}</span> minutes left</div> 
        {%else%}
          <div class="time" hidden><i class="fa-solid fa-clock"></i>&nbsp; Time: <span id="time"> 30:00</span> minutes left</div>
        {%endif%}
    <div class="start_btn">
        <div class="info-title">
            <h3>Test Name: GATE &nbsp; | &nbsp;</h3> 
            <h3>Test Duration: 30 min &nbsp; | &nbsp; </h3> 
            <h3>Difficulty Level: Hard  </h3> 
        </div>
        <form action="{{ url_for('test.exam_dashboard')}}" method="post">
          {%if error_message%}
          <h3>You tried to answer a question you've already answered:<br>
              You now have 1 min less to answer the next question.
          </h3>
          {%endif%}
          <h3>Please Click the START QUIZ button to open the quiz questions.</h3>
          <input id = "feild_txt" type="text" name="Question_stack" value="{{Questions}}" hidden>
          <input id = "feild_txt" type="text" name="Status" value="{{status}}" hidden>
          <button type="submit">Start Quiz</button>
      </form>
    </div>

    <!-- Quiz question & Info Box -->
    <div class="info_box">
        <button class="btn btn-danger quit" id="exit" >Exit Quiz</button>
        <button type="button" class="btn btn-warning" onclick="clearForm()">Clear Selection</button>
        <div class="info-title"><h3>Multiple Choice Question (Choose one from the four options)</h3>

        </div>
        {%if Row%}
        <div class="info-list">
            <div class="infoquestion"> 	
               Question: <br><br>{{Row[7]}}</div>
            
                <form action="{{ url_for('test.exam_dashboard')}}" method="post" class="form" >
                   <input type="radio" id="op1" name="mcq" value="option1">
                   <label id="ans1" for="op1">&nbsp;&nbsp;{{Row[8]}}</label><br>
                   <input type="radio" id="op2" name="mcq" value="option2">
                   <label for="op2">&nbsp;&nbsp;{{Row[9]}}</label><br>
                   <input type="radio" id="op3" name="mcq" value="option3">
                   <label for="op3">&nbsp;&nbsp;{{Row[10]}}</label><br>
                   <input type="radio" id="op4" name="mcq" value="option4">
                   <label for="op4">&nbsp;&nbsp;{{Row[11]}}</label>
                   <input id = "feild_stack" type="text" name="Question_stack" value="" hidden>
                   <input id = "feild_det" type="text" name="Status" value="" hidden>
                   <input id = "feild_time" type="text" name="time" value="" hidden>
                    <br>  
                    <div class="buttons">
                      <button id="submit_btn" type="submit" class="btn btn-success next" onclick="next_q()">Next Question</button>
                    </div>
                   
                  </form>
              </div>
            </div>
          </div>
        {%endif%}
      </div>
      </div>
    </div>
    
    <script src="{{ url_for('static',filename='Exam_dashboard_js.js') }}"></script>
    <script>
      const info_box = document.querySelector(".info_box");
      var show_q='{{show_ques}}';
      var timer='{{timer}}';
      var qid='{{Q_id}}'
      var startTime;
      display = document.querySelector('#time');
      console.log(show_q)
      if (show_q=='1'){
        info_box.classList.add("activeInfo");
        startTime = Date.now();
        startTimer(parseInt(timer), display); 
      }
      function next_q(){
        var endTime = Date.now();
        var difference = endTime - startTime - 1000;
        document.getElementById("feild_time").value = String(qid)+','+String(difference);
        document.getElementById("feild_stack").value = arr;
        document.getElementById("feild_det").value = String(status)+',0';
        
        
      }
      function clearForm(){
        document.getElementById("op1").checked = false;
        document.getElementById("op2").checked = false;
        document.getElementById("op3").checked = false;
        document.getElementById("op4").checked = false;
      }

    </script>
    
</body>
</html>