<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Exam</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='mobileExam_style.css') }}">
    <script src="https://kit.fontawesome.com/06c86bacc2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="mobileExam">
        <div class="examName">
            <i class="fa-solid fa-arrow-left"></i>
            {%if Client%}
            <h2>{{Client[0]}}</h2>
            {%else%}
            <h2>Dr Very Smart</h2>
            {%endif%}
            <i id="info" class="fa-solid fa-circle-info"></i>
        </div>    
        <hr>
        <div class="exam">
            <div class="start_btn">
                <div class="info-title"><h1>Some Rules of this Quiz</h1></div>
                    <div class="info">1. You can take however long you want to solve the question but  <span>{{Question[15]}} Seconds</span> should be enough to solve it.</div>
                    <div class="info">2. Once you submit your answer, it can't be undone.</div>
                    <div class="info">3. You can use pen and paper to do your rough work.</div>
                    <div class="info">4. Please do not change tabs while you are playing.</div>
                    <div class="info">5. You'll get coinss on the basis of your correct answers.</div>
              
                <button id="start" onclick="startTime()">Start Quiz</button>
            </div>
                <div class="info_box">

            <h3>Multiple Choice Question (Choose one from the four options)</h3>
            <div class="open_close">
                <p>Question 4</p>
            </div>
            <div class="timer">
                <div class="timeClock"><i class="fa-solid fa-clock"></i>&nbsp;&nbsp;<span id="timeClock"> {{timer|int/60|int}}</span></div> 
            </div>
            <form action="{{ url_for('test.daily',qid=qid,Mobile=Mobile)}}" method="post" class="form" >
            <div class="QuestionAnswer">
                <p>{{Question[7]}}</p>
                <form action="" class="form" >
                    <input type="radio" id="op1" name="mcq" value="option1">
                    <label id="ans1" for="op1">&nbsp;&nbsp;{{Question[8]}}</label><br>
                    <input type="radio" id="op2" name="mcq" value="option2">
                    <label for="op2">&nbsp;&nbsp;{{Question[9]}}</label><br>
                    <input type="radio" id="op3" name="mcq" value="option3">
                    <label for="op3">&nbsp;&nbsp;{{Question[10]}}</label><br>
                    <input type="radio" id="op4" name="mcq" value="option4">
                    <label for="op4">&nbsp;&nbsp;{{Question[11]}}</label>
                    <input id = "feild_txt" type="text" name = "Time_sheet" value="" hidden>
                     <br>  
                  
                     <div class="btnSubmission">
                       <button type="button" class="delete"  onclick="clearForm()"><i class="fa-solid fa-trash"></i>Clear</button>
                       <button type="submit" id= "submit_btn" class="next" onclick="stopButton()">Next Question<i class="fa-solid fa-arrow-right"></i></button>
                     </div>
                    
                   </form>
            </div>

        </div>
    </div>
    </div>
    <script>
        // question no open close navbar
         function w3_close() {
          document.getElementById("mySidebar").style.display = "none";
        }

        function w3_open() {
        //   document.getElementById("mySidebar").style.display = "block";
        // }
        
        var x = document.getElementById("mySidebar");
         if (x.style.display == "none") {
            x.style.display="block";    
        } else { 
        x.style.display="none";
    }
}
var show_q='{{show_ques}}';
var timer='{{timer}}';
const start_btn = document.querySelector(".start_btn button");
const info_box = document.querySelector(".info_box");
var display = document.querySelector('#timeClock');
var startTime;
start_btn.onclick = ()=>{
    info_box.classList.add("activeInfo"); //show info box
    startTime = Date.now();
    startTimer(parseInt(timer), display);
}

function stopButton() {
    if (startTime) {
        var endTime = Date.now();
        var difference = endTime - startTime - 200;
        document.getElementById("feild_txt").value = difference;
        console.log(difference);
        startTime = null;
    } else {
        alert('Click the Start button first');
    }
}
function clearForm(){
        document.getElementById("op1").checked = false;
        document.getElementById("op2").checked = false;
        document.getElementById("op3").checked = false;
        document.getElementById("op4").checked = false;
}
 //time function
 function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    console.log(duration)
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            timer = duration;
            //next_q('1')
            document.getElementById("submit_btn").click();  

        }
    }, 1000);
}
</script>
</body>
</html>