{{message}}
{{product_name}}
{{link}}
{%if product_id=='1'%}
<form action="{{ url_for('ecm.reat_questions',)}}" method="post" class="form" >
    <input id = "feild_txt" type="text" name = "od_token" value="{{link['od_token']}}" hidden>
    <button type="submit" id= "submit_btn">Send Question Link<i class="fa-solid fa-arrow-right"></i></button>
</form>
{%elif product_id=='2'%}
<form action="{{ url_for('ecm.reat_quiz',)}}" method="post" class="form" >
    <input id = "feild_txt" type="text" name = "od_token" value="{{link['od_token']}}" hidden>
    <button type="submit" id= "submit_btn">Send Quiz Link<i class="fa-solid fa-arrow-right"></i></button>
</form>
{%endif%}
