{% extends 'base.html' %}
<!-- page title-->
{% block title %}
  Your Order Has Been...!
{% endblock %}
{% block content %}
<script src="https://kit.fontawesome.com/06c86bacc2.js" crossorigin="anonymous"></script>
<div class="orderMain">
	<h1>Order Status</h1>
	{%if success=='1'%}
	<i class="fa-solid fa-square-check"></i>
	<h2>Order Sucessful <i class="fa-solid fa-face-smile"></i></h2>
	{%else%}
	<i class="fa-sharp fa-solid fa-square-xmark"></i>
	<h2>Order Failed <i class="fa-solid fa-face-sad-tear"></i></h2>
	{%endif%}
	<a href="{{url_for('home')}}" ><button>Continue...</button></a>
	<br>
	<br>
</div>

{%endblock%}
{% block style %}	
<style>
		/*.orderMain{
			background-color: rgb(227, 122, 143);
		}*/

		.orderMain h1{
			text-align: center;
			font-size: 50px;
			color: crimson;
			font-family: cursive;
			text-decoration: underline;
		}
		.orderMain h2{
			text-align: center;
			font-family: calibri;
		}
		.fa-square-check{
			color: green;
		}
		.fa-square-xmark{
			color: red;
		}
		.fa-square-check, .fa-square-xmark{
			font-size: 200px;
			margin-left: 43vw;
		}
		.fa-face-smile, .fa-face-sad-tear{
			color: crimson;
		}
		.orderMain button{
			margin-left: 38vw;
			background-color: crimson;
			outline: none;
			border:none;
			color: white;
			font-size: 20px;
			text-align: center;
			width: 350px;
			height: 40px;
		}
		.orderMain button:hover{
			background-color: white;
			border:2px solid crimson;
			color: crimson;
			font-weight: bold;
		}
	</style>
{%endblock%}