<div class="wrapper">
    <span class="circle circle-1"></span>
    <span class="circle circle-2"></span>
    <span class="circle circle-3"></span>
    <span class="circle circle-4"></span>
    <span class="circle circle-5"></span>
    <span class="circle circle-6"></span>
    <span class="circle circle-7"></span>
    <span class="circle circle-8"></span>
</div>
  
<form action="{{ url_for('test.exam_dashboard',qno=next_Q)}}" method="post" class="form" >
    <input id = "feild_stack" type="text" name="Questions" value="{{Questions}}" hidden>
    <input id = "feild_status" type="text" name="Status" value="{{Status}}" hidden>
    <div class="buttons" onload="test()">
        <button id="submit_btn" type="submit" class="btn btn-success next">Click here if you are not taken to the next question automatically</button>
    </div>
</form>
<script>
    window.onload = function () {test(); };
    function delay(time) {
        return new Promise(resolve => setTimeout(resolve, time));
    }

    async function test() {
        await delay(1500);
        document.getElementById("submit_btn").click();
    }

</script>
<style>
    body{
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
  text-align: center;
  height:100vh;
  font-family: 'lato';
  font-weight: 100;;
}
.form{
  margin-top: 90vh;
}
.wrapper{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%); 
}
.circle{
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color:whitesmoke;
  border-radius: 50%;
  animation: loading 1.5s cubic-bezier(.8, .5, .2, 1.4) infinite;
  transform-origin: bottom center;
  position: relative;
}
@keyframes loading{
  0%{
    transform: translateY(0px);
    background-color: whitesmoke;
  }
  50%{
    transform: translateY(50px);
    background-color:crimson;
  }
  100%{
    transform: translateY(0px);
    background-color: whitesmoke;
  }
}
.circle-1{
  animation-delay: 0.1s;
}
.circle-2{
  animation-delay: 0.2s;
}
.circle-3{
  animation-delay: 0.3s;
}
.circle-4{
  animation-delay: 0.4s;
}
.circle-5{
  animation-delay: 0.5s;
}
.circle-6{
  animation-delay: 0.6s;
}
.circle-7{
  animation-delay: 0.7s;
}
.circle-8{
  animation-delay: 0.8s;
}
/* footer  */
</style>