{% extends 'base.html' %}
<!-- page title-->
{% block title %}
  Register Your Account
{% endblock %}
{% block links %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <link href="https://drive.google.com/uc?export=veiw&id=10EU1lfsqoAxw8JSJjq5t6oFhCM3Fwy3P" rel="stylesheet">
{% endblock %}
{% block content %}

<section class="register">
                <div class="row">
                  <div class="col-sm-4">
                    <img class="Register_img" src="https://drive.google.com/uc?export=veiw&id=12yXpwdzMIcFbAow-GMx0FX9sr1QZd5Ko">                    
                  </div>
                  <div class="col-sm-8">

                    <form class="form" action="{{ url_for('account')}}" method="post">
                      {{form.csrf_token}}

                      <div class="form-box">
                        <h1>Registration Form</h1>
                        <p>Enter your details here!</p>
                        <form action="https://api.formbucket.com/f/c2K3QTQ" method="post">

                          <div class="d-flex flex-row align-items-center mb-4">
                            <label id="name" class="form-label" for="form3Example1c">Your Name</label>
      
                            <div id="name" class="form-outline flex-fill mb-0">
                              {{ form.name }}
                            </div>
                          </div>
        
                          <div class="d-flex flex-row align-items-center mb-4">
                            <label class="form-label" for="form3Example3c">Your Email</label>
                            <div class="form-outline flex-fill mb-0">
                              {{ form.email_id }}
                              
                            </div>
                          </div>
        
                          <div class="d-flex flex-row align-items-center mb-4">
                            <label class="form-label" for="form3Example4c">Password</label>
                            <div class="form-outline flex-fill mb-0">
                              {{ form.password}}
                             
                            </div>
                          </div>
                          <div class="d-flex flex-row align-items-center mb-4">
                            <label class="form-label" for="form3Example4cd">Date of Birth</label>
                            <div class="form-outline flex-fill mb-0">
                              {{ form.DOB}}
                            </div>
                          </div>
                          <div class="d-flex flex-row align-items-center mb-4">
                            <label class="form-label" for="form3Example4cd">Target</label>
                            <div class="form-outline flex-fill mb-0">
                              {{ form.target}}
                            </div>
                          </div>
                          <div class="d-flex flex-row align-items-center mb-4">
                            <label class="form-label" for="form3Example4cd">Gender</label>
      
                            <div id="gender" class="form-outline flex-fill mb-0">
                              
                              {{form.gender}}
                            </div>
                          </div>
        
                          <div class="d-flex flex-row align-items-center mb-4">
                            <label class="form-label" for="form3Example4cd">College Name</label>
      
                            <div class="form-outline flex-fill mb-0">
                              {{form.college}}
                            </div>
                          </div>
        
                          <div class="d-flex flex-row align-items-center mb-4">
                            <label class="form-label" for="form3Example4cd">College Location</label>
      
                            <div class="form-outline flex-fill mb-0">
                              {{form.college_location}}
                            </div>
                          </div>
                          
                          <div class="d-flex flex-row align-items-center mb-4">
                            <label class="form-label" for="form3Example4cd">Course</label>
      
                            <div class="form-outline flex-fill mb-0">
                              {{form.course}}
                            </div>
                          </div>
                          
                          <div class="d-flex flex-row align-items-center mb-4">
                            <label class="form-label" for="form3Example4cd">Semester</label>
      
                            <div class="form-outline flex-fill mb-0">
                              {{form.semester}}
                            </div>
                          </div>
                          <div class="form-check d-flex justify-content-center mb-5">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                            <label class="form-check-label" for="form2Example3">
                              I agree all statements in <a href="#!">Terms of service</a>
                            </label>
                          </div>
                          <!-- <button type="submit" class="btn btn-primary btn-lg" id="btn_s">Register</button> -->
                          
                          <input class="btn btn-primary" type="submit" value="Submit" />
                          </div>
                        </form>
                      </div>
                    <!--  -->
                  </form>

                  </div>

                 
                </div>
                 

            
  </div>
</section>
<style>

</style>
{% endblock %}
{% block style %}
{% endblock %}`