{% extends 'base.html' %}
<!-- page title-->
{% block links %}

{% endblock %}
{% block title %}
  Mock Tests
{% endblock %}
{% block content %}
    <!-- heading -->
    <div class="container">
        <h1 class="Page_title">Select Your Exam For Test</h1>

        <br> 
        <div class="list_item">

            <!-- image & exam name -->
          <div class="item_details" >

            <div class="aligned">
                <img class="list_img" src="https://raw.githubusercontent.com/Aptee/Aptee_Data/main/website_images/Random.png" alt="">
                     
                <span class="exam_details">
                    <h2>&nbsp;&nbsp;Random Practice Questions </h2>
                    <h3 id="test_time"> Test Time: Mixed &nbsp;| &nbsp;Difficulty level: Mixed </h3>
                </span>
            </div>
          </div>

          <!-- select exam button -->
          <div class="item_button">
            <a href="{{ url_for('test.daily',Mobile=0)}}"><button class="tst_button" id="select">Test Yourself</button></a>
            <a href="{{ url_for('test.daily',Mobile=1)}}"><button class="tst_button_mobile" id="select">Test Yourself</button></a>
          </div> 
        </div>
        {%if Tests%}
        {%for i in Tests%}
        <div class="list_item">

            <!-- image & exam name -->
          <div class="item_details" >

            <div class="aligned">
                <img class="list_img" src="{{i[2]}}" alt="">
                     
                <span class="exam_details">
                    <h2 class="list_title">{{i[1]}}</h2><br>
                    <h3 id="test_time">Test Topics: Mixed &nbsp;| &nbsp;Difficulty level: Mixed</h3>
                </span>
            </div>
          </div>

          <!-- select exam button -->

          <div class="item_button">
            <a href="{{ url_for('test.customTest',testId=i[0])}}"><button class="tst_button" id="select">Test Yourself </button></a>
          </div> 
        </div>
        {%endfor%}
        {%elif id%}
            <h1 class="Page_title">Sorry We Dont have Any New Tests You Can Give at the moment please try our Offline Options</h1>
            <div class="list_item">

                <!-- image & exam name -->
            <div class="item_details" >

                <div class="aligned">
                    <img class="list_img" src="https://raw.githubusercontent.com/Aptee/Aptee_Data/main/website_images/994960.png" alt="">
                        
                    <span class="exam_details">
                        <h2>&nbsp;&nbsp;Custom Weakness Based Test (Offline) </h2>
                        <h3 id="test_time">Test Time: Mixed &nbsp;| &nbsp;Difficulty level: Easy </h3>
                    </span>
                </div>
            </div>

            <!-- select exam button -->
            <div class="item_button">
                <a href="{{ url_for('test.Test')}}"><button class="tst_button" id="select">Generate PDF</button></a>
            </div> 
            </div>
        {%else%}
        <h1 class="Page_title">Login To See the Other Tests You Can Give</h1>
        {%endif%}

        
          
      </div>

      {% endblock %}
      {% block style %}
      
      <style>

        /* heading */

        .Page_title {
            text-align: center;
            font-size: 50px;
            font-weight: bold;
            color: crimson;
            padding: 30px;
        }

        /* image and exam name */
         .aligned {
            display: flex;
            align-items: center;
        }
        .list_img{
            height: 250px;
            width: 250px;
            border-radius: 50%;
            border: 5px solid crimson;
        }
          
        .exam_details h2{
            font-weight: bolder;
        }
        .list_item{
            display: flex;
            width: 80vw;
            height: 40vh;
            flex-direction: row;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
        .item_button{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .item_details{
            width: 70vw;
        }
        .list_title {
            display: inline;
            padding: 20px;
            font-weight: bold;
        }
        #test_time{
            display: inline;
            padding: 17px;
        }

        /* select exam button */
        #select{
            height: 50px;
            width: 200px;
            font-size: 25px;
            font-weight: 500;
            color:white;
            outline: none;
            border: none;
            border-radius: 5px;
            background: crimson;
            cursor: pointer;
        }
        #select:hover{
            background-color:white;
            color: crimson;
            border: 3px solid crimson;
        }
        .tst_button_mobile{
            display: none;
        }
        @media all and (max-width: 500px) {
        .tst_button{
            display: none;
        }
        .tst_button_mobile{
            display: block;
        }
        }
        @media screen and (max-width: 400px){
            .Page_title {
            text-align: center;
            font-size: 27px;
            font-weight: bold;
            color: crimson;
            margin-top: 10px;
            padding: 2px;
        }
        }
        
       
    </style>
{% endblock %}
