{% extends 'base.html' %}

{% block content%}
<link rel="stylesheet" href="{{ url_for('static',filename='Profile_style.css') }}">
<div class="main">
    <div class="dashboard_navbar">
        <ul>
            <li><a  href="">Profile</a></li>
            <li><a href="{{ url_for('profile.usr_report_menu')}}">Report</a></li>
            <li><a href="{{ url_for('profile.usr_analysis')}}">Analysis</a></li>
            <li><a class="active" href="{{ url_for('profile.usr_coin_history')}}">Coin History</a></li>
            <li><a href="">Shop</a></li>
        </ul>
    </div>
<div class="details">
    {{Data}}
    {{Data[1]}}
</div>
{%endblock%}

{% block scripts%}
<style>
    .details{
        margin-left: 21vw;
    }
</style>
{%endblock%}
