{% extends 'base.html' %}
{% block links %}
<script src="https://kit.fontawesome.com/06c86bacc2.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='Profile_style.css') }}">
{% endblock %}
{% block title %}
Aptee Dashboard
{% endblock %}
{% block content %}
    <div class="Holder">
      <!-- sidebar -->
      <div class="sidenav">
          <div class="avatar">
          </div>
          <h2>{{Data[2]}}</h2>
          <h5>{{Data[1]}}</h5>
          <hr>
          <!-- <div class="icon">
              <i class="fa-solid fa-person"></i>
              <p>&nbsp;&nbsp;&nbsp;Male</p>
          </div> -->
          <div class="icon">&nbsp;
              <i class="fa-solid fa-user"></i>
              <p>{{Data[6]}}</p>
          </div>
          <div class="icon">
              <i class="fa-solid fa-graduation-cap"></i>
              <p>{{Data[7]}}</p>
          </div>
          <div class="icon">
              <i class="fa-solid fa-bullseye"></i>
              <p>{{Data[5]}}</p>
          </div>
          <div class="icon">
            <i class="fa-solid fa-coin"></i>
            <p>{{Data[13]}}</p>
        </div>
        
          
          
      </div>
      <div class="main">
        <div class="dashboard_navbar">
            <ul>
                <li><a class="active" href="">Profile</a></li>
                <li><a href="{{ url_for('profile.usr_report_menu')}}">Report</a></li>
                <li><a href="{{ url_for('profile.usr_analysis')}}">Analysis</a></li>
                <li><a href="{{ url_for('profile.usr_coin_history')}}">Coin History</a></li>
                <li><a href="">Shop</a></li>
            </ul>
        </div>
        <div class="Main_box">
          {% block data%}
          {%endblock%}
        </div>    
      </div>
    </div>

{%endblock%}
{% block style %}
{% endblock %}
