{% extends 'base.html' %}
{% block links %}
{% endblock %}
{% block content %}

<script src="https://kit.fontawesome.com/06c86bacc2.js" crossorigin="anonymous"></script>
  <div class="content">
    <!-- Dashboard -->
      <div class="sidebar">
        <div class="avatar">
          <img  src="https://drive.google.com/uc?export=veiw&id=1MFFptbLNwx5EcRddl4XgHE05VCLIaQ5r" >
        </div>
        <div id="sidebar_index">
            <a id="linked" id="flip" href="{{ url_for('profile.usr_profile')}}"><i class="fa-solid fa-user"></i>&nbsp;Profile</a> 
            <a id="linked" id="modifyclick linked" href="#test"><i class="fa-solid fa-square-poll-vertical"></i>&nbsp;Reports</a>
            <a id="linked" id="verifyclick" href="#analysis"><i class="fa-solid fa-magnifying-glass-chart"></i>&nbsp;Analysis</a>
            <a id="linked" href="#coin"><i class="fa-solid fa-shop"></i>&nbsp;Shop</a>
            <a id="linked" href="#coin"><i class="fa-brands fa-cc-discover"></i>&nbsp;Discover</a>
            <a id="linked" href="#coin"><i class="fa-solid fa-coins"></i>&nbsp;Coin History</a>
            <a id="linked" href="{{ url_for('logout')}}"><i class="fa-solid fa-outdent"></i>&nbsp;Logout</a>
        </div>
      </div>
      <div class="Main_box">
        {% block data%}
        {%endblock%}
      </div>    
  <!--form to add the new item in the list-->
  </div>
  <style>

    .content {
            /* position: absolute; */
            height: 100%;
            width: 100%;
            display: flex;
            font-size: 20px;
            font-family: cursive;
        }

    /* sidebar */
    .sidebar{
          width: 16vw;
          background: crimson;
          display: flex;
          flex-direction: column;
          position: fixed;
        }
        .avatar img{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            align-self: center;
            text-align: center;
            background: rgba(255, 255, 255, 0.157);
            background-size:contain ;
            background-position: center;
            margin: 20px;
        }
    .sidebar_index{
        margin: 0;
        padding: 0;
        width: 100%;
        padding: 11px;
    }
    /* sidebar content */
    #linked {
            border-bottom: 1px solid #ffffff28;
            display: block;
            color: white;
            padding: 13px 25px;
            text-decoration: none;
            cursor: pointer;
            transition: .4s all;
            font-size: 20px;
            font-family: cursive;
        }

    #linked.active {
            background-color: #ffffff5d;
            border-bottom: 0;
            color: white;
            transition: .4s all;
        }

    #linked:hover:not(.active) {
            background-color: #ffffff5d;
            color: white;
        }

        /* main content topic wise */
    .Main_box{
          width: 84vw;
          display: flex;
          flex-direction: column;
          /* position: fixed; */
        }
  </style>
{%endblock%}
{% block style %}
    {% block scripts%}
    {%endblock%}
{% endblock %}
