{% extends 'Dashboard.html' %}

{% block data%}
<div class="details">
    <hr>
    {%if verify%}
    <form class="form" action="{{ url_for('account_verification')}}" method="post">
        <input id = "feild_otp" type="text" name="OTP" value="">
        <input id = "feild_id" type="text" name="id" value="{{id}}" hidden> 
        <label for="feild_otp">&nbsp;&nbsp;Enter the OTP We've Sent on your email</label>
        <div class="buttons">
            <button id="submit_btn" type="submit" class="btn btn-success next">Submit</button>
        </div>
    </form>
    <div class="buttons">
        <button id="submit_btn" type="submit" class="btn btn-success next">Resend OTP</button>
    </div>
    {%endif%}
    <h1>&nbsp;Recent Failed Attempts</h1>
                {{Ques}}
                <div class="two_box">
                    <div class="test_box">
                        <p>Test</p>
                        <p>Catgeory</p>
                        <p>Level</p>
                    </div>
                    <div class="test_box">
                        <p>Test</p>
                        <p>Catgeory</p>
                        <p>Level</p>
                    </div>
                </div>
                <div class="two_box">
                    <div class="test_box">
                        <p>Test</p>
                        <p>Catgeory</p>
                        <p>Level</p>
                    </div>
                    <div class="test_box">
                        <p>Test</p>
                        <p>Catgeory</p>
                        <p>Level</p>
                    </div>
                </div>
            </div>
            <h1>&nbsp;Recommended Blogs</h1>
            {{row}}
            <div class="test_box">
                <p>Test</p>
                <p>Catgeory</p>
                <p>Level</p>
            </div>

{%endblock%}

{% block scripts%}
<style>
    .details{
        margin-left: 21vw;
        width: 74vw;
        height: 71vh;
        background-color: whitesmoke;
    }
   
    h1{
        padding: 10px;
    }
    .index{
        width:30vw;
        display: flex;
    }
    .index_name{
        width: 100vw;
        padding-left: 10px;
    }
    .index_content{
        width: 100vw;
    }
    
</style>
{%endblock%}
