{% extends 'Dashboard.html' %}

{% block data%}
<div class="details">
    {%if verify%}
    <form class="form" action="{{ url_for('account_verification')}}" method="post">
        <input id = "feild_otp" type="text" name="OTP" value="">
        <input id = "feild_id" type="text" name="id" value="{{id}}" hidden> 
        <label for="feild_otp">&nbsp;&nbsp;Enter the OTP We've Sent on your email</label>
        <div class="buttons">
            <button id="submit_btn" type="submit" class="btn btn-success next">Submit</button>
        </div>
    </form>
    <div class="buttons">
        <a href="{{ url_for('resend_otp')}}"><button id="submit_btn" type="submit" class="btn btn-success next">Resend OTP</button></a>
    </div>
    {%endif%}
    <h1>&nbsp;Recent Failed Questions</h1>
             {%if Ques|length ==4%}
                <div class="two_box">
                    <div class="test_box">
                        <p>Question Topic : {{Ques[0][6]}}</p>
                        <p>Time Taken : {{Ques[0][3]|int}} Seconds</p>
                        <p>Level : {{Ques[0][2]}}</p>
                        <form action="{{ url_for('ecm.cart')}}" method="post" class="form" >
                            <input id = "feild_txt" type="text" name = "product" value="Reattempt Question" hidden>
                            <input id = "feild_txt" type="text" name = "ap_coin" value="1" hidden>
                            <input id = "feild_txt" type="text" name = "product_id" value="1" hidden>
                            <input id = "feild_txt" type="text" name = "price" value="100" hidden>
                            <input id = "feild_txt" type="text" name = "como_id" value="{{Ques[0][0]}}" hidden>
                            <button type="submit" id= "submit_btn">Re-attempt for 100 Coins  <i class="fa-solid fa-arrow-right"></i></button>
                        </form>
                        
                    </div>
                    <div class="test_box">
                        <p>Question Topic : {{Ques[1][6]}}</p>
                        <p>Time Taken : {{Ques[1][3]|int}} Seconds</p>
                        <p>Level : {{Ques[1][2]}}</p>
                        <form action="{{ url_for('ecm.cart')}}" method="post" class="form" >
                            <input id = "feild_txt" type="text" name = "product" value="Reattempt Question" hidden>
                            <input id = "feild_txt" type="text" name = "ap_coin" value="1" hidden>
                            <input id = "feild_txt" type="text" name = "product_id" value="1" hidden>
                            <input id = "feild_txt" type="text" name = "price" value="100" hidden>
                            <input id = "feild_txt" type="text" name = "como_id" value="{{Ques[1][0]}}" hidden>
                            <button type="submit" id= "submit_btn">Re-attempt for 100 Coins  <i class="fa-solid fa-arrow-right"></i></button>
                        </form>
                        
                    </div>
                </div>
                <h1>&nbsp;Recent Failed Tests</h1>
                <div class="two_box">
                    <div class="test_box">
                        <p>Test Topic : {{Ques[2][6]}}</p>
                        <p>Level : {{Ques[2][2]}}</p>
                        <form action="{{ url_for('ecm.cart')}}" method="post" class="form" >
                            <input id = "feild_txt" type="text" name = "product" value="Reattempt Test" hidden>
                            <input id = "feild_txt" type="text" name = "ap_coin" value="1" hidden>
                            <input id = "feild_txt" type="text" name = "product_id" value="2" hidden>
                            <input id = "feild_txt" type="text" name = "price" value="1500" hidden>
                            <input id = "feild_txt" type="text" name = "como_id" value="{{Ques[2][5]}}" hidden>
                            <button type="submit" id= "submit_btn">Re-attempt for 1500 Coins  <i class="fa-solid fa-arrow-right"></i></button>
                        </form>
                       
                    </div>
                    <div class="test_box">
                        <p>Test Topic : {{Ques[3][6]}}</p>
                        <p>Level : {{Ques[3][2]}}</p>
                        <form action="{{ url_for('ecm.cart')}}" method="post" class="form" >
                            <input id = "feild_txt" type="text" name = "product" value="Reattempt Test" hidden>
                            <input id = "feild_txt" type="text" name = "ap_coin" value="1" hidden>
                            <input id = "feild_txt" type="text" name = "product_id" value="2" hidden>
                            <input id = "feild_txt" type="text" name = "price" value="1500" hidden>
                            <input id = "feild_txt" type="text" name = "como_id" value="{{Ques[3][5]}}" hidden>
                            <button type="submit" id= "submit_btn">Re-attempt for 1500 Coins  <i class="fa-solid fa-arrow-right"></i></button>
                        </form>
                       
                    </div>
                </div>
            </div>
            {%endif%}
            <h1>&nbsp;&nbsp;&nbsp;&nbsp;Recommended Blogs</h1>
            <div class="two_box" id="Recommended">
            <div class="test_box">
                {{row[1]}}
                <br>
                <button type="submit" id= "submit_btn">Go To Blogs  <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
{%endblock%}

{% block scripts%}
<style>
    .details{
        margin-left: 3vw;
        width: 74vw;
        height: 71vh;
        background-color: whitesmoke;
    }
   
    h1{
        padding: 10px;
    }
    .index{
        width:30vw;
        display: flex;
    }
    .index_name{
        width: 100vw;
        padding-left: 10px;
    }
    .index_content{
        width: 100vw;
    }
</style>
{%endblock%}
