{% extends 'Dashboard.html' %}

{% block data%}
<div class="details">

    <h2>Select The Test You Want To See Reports</h2>
    <hr>

    <div class="search-container">
        <form action="">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    {%if Data%}
    {%for i in range(0,Data|length)%}
   <a href="{{ url_for('profile.usr_report_tid',uid=Data[i][0],date=Data[i][1])}}">
    <div class="report_content">
    <img id="test_img" src="" alt="not found">
    <h3 id="test_id">Test Id.: {{Data[i][0]}}</h3>
    <h3 id="test_date">Test Date.: {{Data[i][1]}}</h3>
   </div></a>
   {%endfor%}
   {%endif%}
    <!-- {{Data}}
    {{Data[1]}} -->
</div>
{%endblock%}

{% block scripts%}
<style>
    .details{
        margin-left: 21vw;
        width: 74vw;
        background-color: whitesmoke;
    }
    .search-container {
  float: right;
}
    .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}
.report_content{
    width: 100vw;
    padding: 50px;
    display: flex;
}
#test_img{
    width: 20vw;
}
#test_id{
    width: 80vw;
    margin-left: 50px;
}
#test_date{
    width: 100vw;
}
</style>
{%endblock%}
