{% extends 'Dashboard.html' %}

{% block data%}
<div class="bargraph" id="barchart_material" style="width: 75vw; height: 500px;padding-top: 5vh; font-size: 11px;margin-left: 21vw;"></div>
<div style="display: flex;width:74vw;padding-top: 5vh;margin-left: 25vw;">
  <div id="donutchart" style="width: 100vw; height: 400px; display: flex; flex-direction: column;margin: auto;"></div>
  <div id="donutchart1" style="width: 100vw; height: 400px; display: flex; flex-direction: column;margin:auto;"></div>
</div>
{%endblock%}

{% block scripts%}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    var pie = '{{pie}}';
    pie=pie.split(',');
    var newArr = [];
    while(pie.length) newArr.push(pie.splice(0,2));
    for (var i = 1; i < newArr.length; i++) {
      newArr[i][1]=parseInt(newArr[i][1])
    }
    console.log(newArr); 
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable(newArr);

      var options = {
        title: 'Total Attempts',
        pieHole: 0.4,
      };

      var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
      chart.draw(data, options);
    }
  </script>
  <script type="text/javascript">
    var pie1 = '{{pie2}}';
    pie1=pie1.split(',');
    var newArr2 = [];
    while(pie1.length) newArr2.push(pie1.splice(0,2));
    for (var i = 1; i < newArr2.length; i++) {
      newArr2[i][1]=parseInt(newArr2[i][1])
    }
    console.log(newArr2); 
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable(newArr2);

      var options = {
        title: 'Questions you have attempted broken down by Question Level',
        pieHole: 0.4,
      };

      var chart = new google.visualization.PieChart(document.getElementById('donutchart1'));
      chart.draw(data, options);
    }
  </script>

<!-- bar graph chart -->
  <script type="text/javascript">
    var bar = '{{bar_chart}}';
    bar=bar.split(',');
    var newArr1 = [];
    while(bar.length) newArr1.push(bar.splice(0,3));
    for (var i = 1; i < newArr1.length; i++) {
      newArr1[i][1]=parseInt(newArr1[i][1])
      newArr1[i][2]=parseInt(newArr1[i][2])
    }
    console.log(newArr1)
    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable(newArr1);

      var options = {
        chart: {
          title: 'Topic Analysis',
          subtitle: 'Attempts for Each Topic',
        },
        bars: 'vertical' // Required for Material Bar Charts.
      };

      var chart = new google.charts.Bar(document.getElementById('barchart_material'));

      chart.draw(data, google.charts.Bar.convertOptions(options));
    }
  </script>
{%endblock%}